.Footer {
	display: flex;
	.copy {
		margin: 1rem auto;
		display: flex;
		align-items: center;
		padding: 2.2rem 0 0.8rem 0;
		font-size: 1rem;
		justify-content: center;
		span {
			margin-left: 0.5rem;
		}
	}
}
