.NavBar {
	nav {
		display: grid;
		grid-template-columns: 2fr 4fr 5fr;
		figure {
			display: block;
			min-width: fit-content;
			color: var(--main);
			font-size: 1.9em;
			font-weight: 700;
		}
		.nav-links {
			text-transform: uppercase;
			display: flex;
			align-items: center;
			justify-content: space-around;
		}
		.nav-link {
			cursor: pointer;
		}
		.nav-link:hover {
			color: var(--accent-blue);
		}
		align-items: center;
		button {
			margin-left: auto;
			background: var(--accent-blue);
		}
	}
}

@media only screen and (max-width: 600px) {
	nav {
		grid-template-columns: 1fr 1fr !important;
		.nav-links{
			grid-row: 2;
			margin: 2rem 0 0 0;
			.nav-link{
				margin-right: 1rem;
			}
		}
	}
}
