* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

body {
	background: var(--back);
	color: var(--text);
}

html {
	scroll-behavior: smooth;
}

.container {
	margin: 0 15%;
}

button {
	cursor: pointer;
	padding: 0.8em 1.5em;
	width: max-content;
	outline: none;
	border: none;
	background: var(--accent);
	color: var(--white);
	font-weight: 500;
	border-radius: 0.8em;
}

a {
	text-decoration: none;
}

input:not(.date-pick) {
	padding: 10px;
	outline: none;
	border: none;
	background: #e7e7e7;
	border-radius: 10px;
	width: 300px;
	margin: 7px 0;
}
input:focus {
	border: 1px solid var(--accent);
}
select {
	padding: 10px;
	outline: none;
	border: none;
	background: #e7e7e7;
	border-radius: 10px;
	width: 320px;
	margin: 7px 0;
}
label {
	margin-top: 5px;
	width: 100%;
	margin-left: 10px;
	color: var(--accent);
}